{
    "openapi": "3.0.0",
    "info": {
        "title": "API for 1c integration in TopSilver project",
        "description": "API documentation for 1c integration in TopSilver project",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.top-silver.ua/",
            "description": "Api server"
        }
    ],
    "paths": {
        "/api/v1/integrations/1c/taxonomy/categories": {
            "post": {
                "tags": [
                    "taxonomies"
                ],
                "summary": "Add / Update categories",
                "description": "Sync categories from 1c with site",
                "operationId": "cf495cc078dd4531c1c84d209cee2901",
                "requestBody": {
                    "$ref": "#/components/requestBodies/C1CategoryRequestBody"
                },
                "responses": {
                    "200": {
                        "description": "Successfully response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/integrations/1c/taxonomy/categories/delete": {
            "post": {
                "tags": [
                    "taxonomies"
                ],
                "summary": "Delete categories by ids array",
                "description": "Delete categories",
                "operationId": "cd2d688565cd8ad1b112349a06edce3e",
                "requestBody": {
                    "$ref": "#/components/requestBodies/C1EntityDeleteRequestBody"
                },
                "responses": {
                    "200": {
                        "description": "Successfully response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "deleted": {
                                            "type": "integer",
                                            "example": 3
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/integrations/1c/taxonomy/collections": {
            "post": {
                "tags": [
                    "taxonomies"
                ],
                "summary": "Add / Update collections",
                "description": "Sync collections from 1c with site",
                "operationId": "efffb9e66625d7bbaf19ec1a329f6636",
                "requestBody": {
                    "$ref": "#/components/requestBodies/C1CollectionRequestBody"
                },
                "responses": {
                    "200": {
                        "description": "Successfully response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/integrations/1c/taxonomy/collections/delete": {
            "post": {
                "tags": [
                    "taxonomies"
                ],
                "summary": "Delete collections by ids array",
                "description": "Delete collections",
                "operationId": "c5d714b7eb55339c050cde3a7eab6938",
                "requestBody": {
                    "$ref": "#/components/requestBodies/C1EntityDeleteRequestBody"
                },
                "responses": {
                    "200": {
                        "description": "Successfully response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "deleted": {
                                            "type": "integer",
                                            "example": 3
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/integrations/1c/taxonomy/promotions": {
            "post": {
                "tags": [
                    "taxonomies"
                ],
                "summary": "Add / Update promotions",
                "description": "Sync promotions from 1c with site",
                "operationId": "e47433e76b03ce0ae6d31741933d8235",
                "requestBody": {
                    "$ref": "#/components/requestBodies/C1PromotionRequestBody"
                },
                "responses": {
                    "200": {
                        "description": "Successfully response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/integrations/1c/taxonomy/promotions/delete": {
            "post": {
                "tags": [
                    "taxonomies"
                ],
                "summary": "Delete promotions by ids array",
                "description": "Delete promotions",
                "operationId": "2b567e5492e539f071d4a2ec88d6dedf",
                "requestBody": {
                    "$ref": "#/components/requestBodies/C1EntityDeleteRequestBody"
                },
                "responses": {
                    "200": {
                        "description": "Successfully response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "deleted": {
                                            "type": "integer",
                                            "example": 3
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/integrations/1c/shops": {
            "post": {
                "tags": [
                    "shops"
                ],
                "summary": "Add / Update shops",
                "description": "Sync shops from 1c with site",
                "operationId": "d9e25e48956a5065543a055857802f00",
                "requestBody": {
                    "$ref": "#/components/requestBodies/C1ShopRequestBody"
                },
                "responses": {
                    "200": {
                        "description": "Successfully response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/integrations/1c/shops/delete": {
            "post": {
                "tags": [
                    "shops"
                ],
                "summary": "Delete shops by ids array",
                "description": "Delete shops",
                "operationId": "494a6c8dc1114ee0e7a08644f903edf4",
                "requestBody": {
                    "$ref": "#/components/requestBodies/C1EntityDeleteRequestBody"
                },
                "responses": {
                    "200": {
                        "description": "Successfully response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "deleted": {
                                            "type": "integer",
                                            "example": 3
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "C1CategoryItem": {
                "properties": {
                    "id": {
                        "type": "string",
                        "example": "1c_1001"
                    },
                    "title": {
                        "type": "string",
                        "example": "Ноутбуки"
                    },
                    "description": {
                        "type": "string",
                        "example": "Все ноутбуки",
                        "nullable": true
                    },
                    "parent_id": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "C1CollectionItem": {
                "properties": {
                    "id": {
                        "type": "string",
                        "example": "1c_1001"
                    },
                    "title": {
                        "type": "string",
                        "example": "Коллекция"
                    },
                    "description": {
                        "type": "string",
                        "example": "Описание коллекции",
                        "nullable": true
                    },
                    "parent_id": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "C1PromotionItem": {
                "properties": {
                    "id": {
                        "type": "string",
                        "example": "1c_1001"
                    },
                    "title": {
                        "type": "string",
                        "example": "1+1=3"
                    },
                    "description": {
                        "type": "string",
                        "example": "При покупке 2х товаров получи 3й в подарок",
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "C1ShopItem": {
                "properties": {
                    "id": {
                        "type": "string",
                        "example": "1c_1001"
                    },
                    "city_code": {
                        "type": "string",
                        "example": "ua-kiyivska-oblast-kiyiv"
                    },
                    "title": {
                        "type": "string",
                        "example": "АТБ Київ Хрещатик"
                    },
                    "short_description": {
                        "type": "string",
                        "example": "Продуктовий супермаркет",
                        "nullable": true
                    },
                    "address": {
                        "type": "string",
                        "example": "вул. Хрещатик, 10"
                    },
                    "address_link": {
                        "type": "string",
                        "example": "https://maps.google.com/?q=50.45,30.52"
                    },
                    "phone": {
                        "type": "string",
                        "example": "380630000000"
                    },
                    "time_working": {
                        "type": "string",
                        "example": "08:00-22:00"
                    }
                },
                "type": "object"
            },
            "C1EntityDeleteRequest": {
                "required": [
                    "ids"
                ],
                "properties": {
                    "ids": {
                        "type": "array",
                        "items": {
                            "type": "string",
                            "example": "1c_test-1"
                        },
                        "example": [
                            "1c_test-2",
                            "1c_test",
                            "1c_test-1"
                        ]
                    }
                },
                "type": "object"
            }
        },
        "requestBodies": {
            "C1CategoryRequestBody": {
                "required": true,
                "content": {
                    "application/json": {
                        "schema": {
                            "required": [
                                "items"
                            ],
                            "properties": {
                                "items": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/C1CategoryItem"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "C1CollectionRequestBody": {
                "required": true,
                "content": {
                    "application/json": {
                        "schema": {
                            "required": [
                                "items"
                            ],
                            "properties": {
                                "items": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/C1CollectionItem"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "C1EntityDeleteRequestBody": {
                "required": true,
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/C1EntityDeleteRequest"
                        }
                    }
                }
            },
            "C1PromotionRequestBody": {
                "required": true,
                "content": {
                    "application/json": {
                        "schema": {
                            "required": [
                                "items"
                            ],
                            "properties": {
                                "items": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/C1PromotionItem"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "C1ShopRequestBody": {
                "required": true,
                "content": {
                    "application/json": {
                        "schema": {
                            "required": [
                                "items"
                            ],
                            "properties": {
                                "items": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/C1ShopItem"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "securitySchemes": {
            "sanctum": {
                "type": "apiKey",
                "description": "Enter token in format: Bearer {token}",
                "name": "Authorization",
                "in": "header"
            }
        }
    },
    "tags": [
        {
            "name": "taxonomies",
            "description": "taxonomies"
        },
        {
            "name": "shops",
            "description": "shops"
        }
    ]
}