{
    "openapi": "3.0.0",
    "info": {
        "title": "API for 1c integration in TopSilver project",
        "description": "API documentation for 1c integration in TopSilver project",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.top-silver.ua/",
            "description": "Api server"
        }
    ],
    "paths": {
        "/api/v1/integrations/1c/attributes": {
            "post": {
                "tags": [
                    "attributes"
                ],
                "summary": "Add / Update attribute",
                "description": "Sync attribute from 1c with site",
                "operationId": "89cb7b85dd5f9c7c7d095a409829e8a7",
                "requestBody": {
                    "$ref": "#/components/requestBodies/C1AttributeRequestBody"
                },
                "responses": {
                    "200": {
                        "description": "Successfully response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/integrations/1c/attributes/delete": {
            "post": {
                "tags": [
                    "attributes"
                ],
                "summary": "Delete attributes by ids array",
                "description": "Delete attributes",
                "operationId": "56b4c55d70a3d1dbcf36a6c4b8b16bde",
                "requestBody": {
                    "$ref": "#/components/requestBodies/C1EntityDeleteRequestBody"
                },
                "responses": {
                    "200": {
                        "description": "Successfully response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/C1DeleteElementItem"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/integrations/1c/attribute-terms": {
            "post": {
                "tags": [
                    "attribute_term"
                ],
                "summary": "Add / Update attribute term",
                "description": "Sync attribute term from 1c with site",
                "operationId": "993d378b5612de3434ad0d8d21793606",
                "requestBody": {
                    "$ref": "#/components/requestBodies/C1AttributeTermRequestBody"
                },
                "responses": {
                    "200": {
                        "description": "Successfully response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/integrations/1c/attribute-terms/delete": {
            "post": {
                "tags": [
                    "attribute_term"
                ],
                "summary": "Delete attribute term by ids array",
                "description": "Delete attribute term",
                "operationId": "9db894480d0f0f7b7c2791cd2b7e14f1",
                "requestBody": {
                    "$ref": "#/components/requestBodies/C1EntityDeleteRequestBody"
                },
                "responses": {
                    "200": {
                        "description": "Successfully response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/C1DeleteElementItem"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/integrations/1c/bonuses": {
            "post": {
                "tags": [
                    "bonuses"
                ],
                "summary": "Add / Update bonuses",
                "description": "Sync bonuses from 1c with site",
                "operationId": "23eba2902a8cb9798e78fcb17644c51e",
                "requestBody": {
                    "$ref": "#/components/requestBodies/C1BonusRequestBody"
                },
                "responses": {
                    "200": {
                        "description": "Successfully response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/integrations/1c/taxonomy/categories": {
            "post": {
                "tags": [
                    "taxonomies"
                ],
                "summary": "Add / Update categories",
                "description": "Sync categories from 1c with site",
                "operationId": "cf495cc078dd4531c1c84d209cee2901",
                "requestBody": {
                    "$ref": "#/components/requestBodies/C1CategoryRequestBody"
                },
                "responses": {
                    "200": {
                        "description": "Successfully response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/integrations/1c/taxonomy/categories/delete": {
            "post": {
                "tags": [
                    "taxonomies"
                ],
                "summary": "Delete categories by ids array",
                "description": "Delete categories",
                "operationId": "cd2d688565cd8ad1b112349a06edce3e",
                "requestBody": {
                    "$ref": "#/components/requestBodies/C1EntityDeleteRequestBody"
                },
                "responses": {
                    "200": {
                        "description": "Successfully response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/C1DeleteElementItem"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/integrations/1c/taxonomy/certificates": {
            "post": {
                "tags": [
                    "certificates"
                ],
                "summary": "Add / Update certificates",
                "description": "Sync certificates from 1c with site",
                "operationId": "911f10f856108fe9759ee4e579498dce",
                "requestBody": {
                    "$ref": "#/components/requestBodies/C1CertificateRequestBody"
                },
                "responses": {
                    "200": {
                        "description": "Successfully response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/integrations/1c/taxonomy/collections": {
            "post": {
                "tags": [
                    "taxonomies"
                ],
                "summary": "Add / Update collections",
                "description": "Sync collections from 1c with site",
                "operationId": "efffb9e66625d7bbaf19ec1a329f6636",
                "requestBody": {
                    "$ref": "#/components/requestBodies/C1CollectionRequestBody"
                },
                "responses": {
                    "200": {
                        "description": "Successfully response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/integrations/1c/taxonomy/collections/delete": {
            "post": {
                "tags": [
                    "taxonomies"
                ],
                "summary": "Delete collections by ids array",
                "description": "Delete collections",
                "operationId": "c5d714b7eb55339c050cde3a7eab6938",
                "requestBody": {
                    "$ref": "#/components/requestBodies/C1EntityDeleteRequestBody"
                },
                "responses": {
                    "200": {
                        "description": "Successfully response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/C1DeleteElementItem"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/integrations/1c/coupons": {
            "post": {
                "tags": [
                    "coupons"
                ],
                "summary": "Add / Update coupons",
                "description": "Sync coupons from 1c with site",
                "operationId": "74065f623dbac7fcddb061b71ff580af",
                "requestBody": {
                    "$ref": "#/components/requestBodies/C1CouponRequestBody"
                },
                "responses": {
                    "200": {
                        "description": "Successfully response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/integrations/1c/coupons/delete": {
            "post": {
                "tags": [
                    "coupons"
                ],
                "summary": "Delete coupons by ids array",
                "description": "Delete coupons",
                "operationId": "9272cc3234357b7348f4087043e33943",
                "requestBody": {
                    "$ref": "#/components/requestBodies/C1EntityDeleteRequestBody"
                },
                "responses": {
                    "200": {
                        "description": "Successfully response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/C1DeleteElementItem"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/integrations/1c/taxonomy/promotions": {
            "post": {
                "tags": [
                    "taxonomies"
                ],
                "summary": "Add / Update promotions",
                "description": "Sync promotions from 1c with site",
                "operationId": "e47433e76b03ce0ae6d31741933d8235",
                "requestBody": {
                    "$ref": "#/components/requestBodies/C1PromotionRequestBody"
                },
                "responses": {
                    "200": {
                        "description": "Successfully response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/integrations/1c/taxonomy/promotions/delete": {
            "post": {
                "tags": [
                    "taxonomies"
                ],
                "summary": "Delete promotions by ids array",
                "description": "Delete promotions",
                "operationId": "2b567e5492e539f071d4a2ec88d6dedf",
                "requestBody": {
                    "$ref": "#/components/requestBodies/C1EntityDeleteRequestBody"
                },
                "responses": {
                    "200": {
                        "description": "Successfully response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/C1DeleteElementItem"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/integrations/1c/shops": {
            "post": {
                "tags": [
                    "shops"
                ],
                "summary": "Add / Update shops",
                "description": "Sync shops from 1c with site",
                "operationId": "d9e25e48956a5065543a055857802f00",
                "requestBody": {
                    "$ref": "#/components/requestBodies/C1ShopRequestBody"
                },
                "responses": {
                    "200": {
                        "description": "Successfully response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/integrations/1c/shops/delete": {
            "post": {
                "tags": [
                    "shops"
                ],
                "summary": "Delete shops by ids array",
                "description": "Delete shops",
                "operationId": "494a6c8dc1114ee0e7a08644f903edf4",
                "requestBody": {
                    "$ref": "#/components/requestBodies/C1EntityDeleteRequestBody"
                },
                "responses": {
                    "200": {
                        "description": "Successfully response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/C1DeleteElementItem"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/integrations/1c/users": {
            "get": {
                "tags": [
                    "users"
                ],
                "summary": "Get users",
                "description": "Get users from site",
                "operationId": "c8a850b92ea126fa97fdf83915c5202c",
                "parameters": [
                    {
                        "name": "updated_from",
                        "in": "query",
                        "description": "Filter users updated after datetime (UTC, ISO 8601)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "example": "2026-06-12T09:25:00Z"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Pagination page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        },
                        "example": 1
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Items per page (max 500)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 100
                        },
                        "example": 100
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "users": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/UserItem"
                                            }
                                        },
                                        "pagination": {
                                            "$ref": "#/components/schemas/PaginationItem"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "C1AttributeItem": {
                "properties": {
                    "id": {
                        "type": "string",
                        "example": "1c_test_1"
                    },
                    "title": {
                        "type": "string",
                        "example": "Size"
                    },
                    "type": {
                        "type": "string",
                        "example": "text",
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "C1AttributeTermItem": {
                "properties": {
                    "id": {
                        "type": "string",
                        "example": "1c_test_1"
                    },
                    "title": {
                        "type": "string",
                        "example": "xl"
                    },
                    "meta_value": {
                        "type": "string",
                        "example": "XL",
                        "nullable": true
                    },
                    "attribute_id": {
                        "type": "string",
                        "example": "1c_attr_1"
                    }
                },
                "type": "object"
            },
            "C1BonusElement": {
                "properties": {
                    "amount": {
                        "type": "integer",
                        "example": 1500
                    },
                    "accrual_from": {
                        "type": "string",
                        "format": "date",
                        "example": "2026-06-12"
                    },
                    "available_from": {
                        "type": "string",
                        "format": "date",
                        "example": "2026-06-15"
                    },
                    "expires_at": {
                        "type": "string",
                        "format": "date",
                        "example": "2026-12-31"
                    }
                },
                "type": "object"
            },
            "C1BonusItem": {
                "properties": {
                    "phone": {
                        "type": "string",
                        "example": "380630000000"
                    },
                    "bonuses": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/C1BonusElement"
                        }
                    }
                },
                "type": "object"
            },
            "C1CategoryItem": {
                "properties": {
                    "id": {
                        "type": "string",
                        "example": "1c_1001"
                    },
                    "title": {
                        "type": "string",
                        "example": "Ноутбуки"
                    },
                    "description": {
                        "type": "string",
                        "example": "Все ноутбуки",
                        "nullable": true
                    },
                    "parent_id": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "C1CertificateItem": {
                "properties": {
                    "id": {
                        "type": "string",
                        "example": "1c_test_1"
                    },
                    "code": {
                        "type": "string",
                        "example": "QWERTYUIOPASDFG"
                    },
                    "value": {
                        "type": "number",
                        "format": "float",
                        "example": 5000
                    },
                    "activated_at": {
                        "type": "string",
                        "format": "date",
                        "example": "2026-06-12",
                        "nullable": true
                    },
                    "expires_at": {
                        "type": "string",
                        "format": "date",
                        "example": "2026-09-31",
                        "nullable": true
                    },
                    "is_used": {
                        "type": "boolean",
                        "example": false
                    }
                },
                "type": "object"
            },
            "C1CollectionItem": {
                "properties": {
                    "id": {
                        "type": "string",
                        "example": "1c_1001"
                    },
                    "title": {
                        "type": "string",
                        "example": "Коллекция"
                    },
                    "description": {
                        "type": "string",
                        "example": "Описание коллекции",
                        "nullable": true
                    },
                    "parent_id": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "C1CouponItem": {
                "properties": {
                    "id": {
                        "type": "string",
                        "example": "1c_test_1"
                    },
                    "code": {
                        "type": "string",
                        "example": "QWERTYUIOPASDFG"
                    },
                    "type": {
                        "type": "string",
                        "example": "percent"
                    },
                    "value": {
                        "type": "integer",
                        "example": 100
                    },
                    "starts_at": {
                        "type": "string",
                        "example": "2026-06-12T00:00:00Z",
                        "nullable": true
                    },
                    "expires_at": {
                        "type": "string",
                        "example": "2026-06-21T00:00:00Z",
                        "nullable": true
                    },
                    "is_active": {
                        "type": "boolean",
                        "example": false,
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "C1DeleteElementItem": {
                "properties": {
                    "total_requested": {
                        "type": "integer",
                        "example": 3
                    },
                    "deleted": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "example": [
                            "1c_test_id",
                            "1c_test_id_2"
                        ]
                    },
                    "not_found": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "example": [
                            "1c_test_id_3"
                        ]
                    }
                },
                "type": "object"
            },
            "C1PromotionItem": {
                "properties": {
                    "id": {
                        "type": "string",
                        "example": "1c_1001"
                    },
                    "title": {
                        "type": "string",
                        "example": "1+1=3"
                    },
                    "description": {
                        "type": "string",
                        "example": "При покупке 2х товаров получи 3й в подарок",
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "C1ShopItem": {
                "properties": {
                    "id": {
                        "type": "string",
                        "example": "1c_1001"
                    },
                    "city_code": {
                        "type": "string",
                        "example": "ua-kiyivska-oblast-kiyiv"
                    },
                    "title": {
                        "type": "string",
                        "example": "АТБ Київ Хрещатик"
                    },
                    "short_description": {
                        "type": "string",
                        "example": "Продуктовий супермаркет",
                        "nullable": true
                    },
                    "address": {
                        "type": "string",
                        "example": "вул. Хрещатик, 10"
                    },
                    "address_link": {
                        "type": "string",
                        "example": "https://maps.google.com/?q=50.45,30.52"
                    },
                    "phone": {
                        "type": "string",
                        "example": "380630000000"
                    },
                    "time_working": {
                        "type": "string",
                        "example": "08:00-22:00"
                    }
                },
                "type": "object"
            },
            "C1EntityDeleteRequest": {
                "required": [
                    "ids"
                ],
                "properties": {
                    "ids": {
                        "type": "array",
                        "items": {
                            "type": "string",
                            "example": "1c_test-1"
                        },
                        "example": [
                            "1c_test-2",
                            "1c_test",
                            "1c_test-1"
                        ]
                    }
                },
                "type": "object"
            },
            "PaginationItem": {
                "properties": {
                    "total_items": {
                        "type": "integer",
                        "example": 50
                    },
                    "total_pages": {
                        "type": "integer",
                        "example": 1
                    },
                    "current_page": {
                        "type": "integer",
                        "example": 1
                    },
                    "per_page": {
                        "type": "integer",
                        "example": 100
                    },
                    "has_more_pages": {
                        "type": "boolean",
                        "example": false
                    }
                },
                "type": "object"
            },
            "UserItem": {
                "properties": {
                    "email": {
                        "type": "string",
                        "example": "test@gmail.com"
                    },
                    "phone": {
                        "type": "string",
                        "example": "380630000000"
                    },
                    "profile": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/UserProfileItem"
                            }
                        ],
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "UserProfileItem": {
                "properties": {
                    "name": {
                        "type": "string",
                        "example": "Name"
                    },
                    "surname": {
                        "type": "string",
                        "example": "Surname"
                    },
                    "middle_name": {
                        "type": "string",
                        "example": "MiddleName"
                    },
                    "about": {
                        "type": "string",
                        "example": "About",
                        "nullable": true
                    },
                    "sex": {
                        "type": "string",
                        "example": "male",
                        "nullable": true
                    },
                    "dob": {
                        "type": "string",
                        "example": "2000-01-21",
                        "nullable": true
                    }
                },
                "type": "object"
            }
        },
        "requestBodies": {
            "C1AttributeRequestBody": {
                "required": true,
                "content": {
                    "application/json": {
                        "schema": {
                            "required": [
                                "items"
                            ],
                            "properties": {
                                "items": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/C1AttributeItem"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "C1AttributeTermRequestBody": {
                "required": true,
                "content": {
                    "application/json": {
                        "schema": {
                            "required": [
                                "items"
                            ],
                            "properties": {
                                "items": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/C1AttributeTermItem"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "C1BonusRequestBody": {
                "required": true,
                "content": {
                    "application/json": {
                        "schema": {
                            "required": [
                                "items"
                            ],
                            "properties": {
                                "items": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/C1BonusItem"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "C1CategoryRequestBody": {
                "required": true,
                "content": {
                    "application/json": {
                        "schema": {
                            "required": [
                                "items"
                            ],
                            "properties": {
                                "items": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/C1CategoryItem"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "C1CertificateRequestBody": {
                "required": true,
                "content": {
                    "application/json": {
                        "schema": {
                            "required": [
                                "items"
                            ],
                            "properties": {
                                "items": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/C1CertificateItem"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "C1CollectionRequestBody": {
                "required": true,
                "content": {
                    "application/json": {
                        "schema": {
                            "required": [
                                "items"
                            ],
                            "properties": {
                                "items": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/C1CollectionItem"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "C1CouponRequestBody": {
                "required": true,
                "content": {
                    "application/json": {
                        "schema": {
                            "required": [
                                "items"
                            ],
                            "properties": {
                                "items": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/C1CouponItem"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "C1EntityDeleteRequestBody": {
                "required": true,
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/C1EntityDeleteRequest"
                        }
                    }
                }
            },
            "C1PromotionRequestBody": {
                "required": true,
                "content": {
                    "application/json": {
                        "schema": {
                            "required": [
                                "items"
                            ],
                            "properties": {
                                "items": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/C1PromotionItem"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "C1ShopRequestBody": {
                "required": true,
                "content": {
                    "application/json": {
                        "schema": {
                            "required": [
                                "items"
                            ],
                            "properties": {
                                "items": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/C1ShopItem"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "securitySchemes": {
            "sanctum": {
                "type": "apiKey",
                "description": "Enter token in format: Bearer {token}",
                "name": "Authorization",
                "in": "header"
            }
        }
    },
    "tags": [
        {
            "name": "attributes",
            "description": "attributes"
        },
        {
            "name": "attribute_term",
            "description": "attribute_term"
        },
        {
            "name": "bonuses",
            "description": "bonuses"
        },
        {
            "name": "taxonomies",
            "description": "taxonomies"
        },
        {
            "name": "certificates",
            "description": "certificates"
        },
        {
            "name": "coupons",
            "description": "coupons"
        },
        {
            "name": "shops",
            "description": "shops"
        },
        {
            "name": "users",
            "description": "users"
        }
    ]
}